language: python
python:
  - "3.5"
install:
  - sudo apt-get update
  - sudo apt-get install sqlite3 supervisor
  - pip install -r requirements.txt
before_script:
  - mkdir /tmp/timevortex
script:
  - python --version
  - cd book_seller
  - python manage.py migrate --settings=book_seller.settings.test
  - cd ..
  - sudo cp supervisor/*_travis.conf /etc/supervisor/conf.d/
  - sudo supervisorctl reread
  - sudo supervisorctl add book_seller
  - sudo supervisorctl add justbookcrawler
  - sudo supervisorctl start book_seller
  - sudo supervisorctl tail -n 30 book_seller
  - sudo supervisorctl start justbookcrawler
  - sudo supervisorctl tail -n 30 justbookcrawler
  - cd book_seller
  - python manage.py runserver --settings=book_seller.settings.test
  - cd ../justbookcrawler
  - nohup scrapyd &
  - scrapyd-deploy -l
  - scrapyd-deploy default -p justbookcrawler
  - tail -n 50 /tmp/book_seller.log
  - cd ..
  - flake8 --exclude "justbookcrawler/build/"
  - prospector -F
  - cd book_seller
  - coverage run --source='.' manage.py behave --settings=book_seller.settings.test && coverage report -m
after_success: coveralls
