language: python
python:
  - "3.4"
  - "3.5"
before_install:
  - sudo apt-get update
  - sudo apt-get install sqlite3 supervisor
install:
  - pip install -r requirements.txt
before_script:
  - mkdir /tmp/timevortex
script:
  - python --version
  - python manage.py migrate --settings=timevortex.settings.local
  - scrapyd
  - scrapyd-deploy -l
  - scrapyd-deploy default -p justbookcrawler
  - sudo cp supervisor/* /etc/supervisor.conf.d/
  - sudo reread
  - sudo add book_seller
  - sudo add justbookcrawler
  - sudo supervisorctl start book_seller
  - sudo supervisorctl start justbookcrawler
  - tail -f /tmp/book_seller.log
  - flake8 --exclude "justbookcrawler/build/"
  - prospector -F
  - coverage run --source='.' manage.py behave && coverage report -m
after_success: coveralls
